* {
	margin: 0;
	padding: 0;
	/* user-select: none; */
	box-sizing: border-box;
}


.modal {
    width: 50%;
    height: 50vh;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* align-items: center; */
}

input{
    width: 150px;
    height: 20px;
    border: 1px solid black;
}